.ProductCategoryOverview{
    border-top:2px solid black;
    box-shadow: 2px;
    background-color:#00adaa;

    display:flex;
    justify-content:center;
    width:100%;
    flex-direction:column;
}

.HeaderDiv{
    display:flex;
    justify-content:center;
    width:100%;
    flex-direction:row;
}