.QuestionSearchBar {
    display:flex;  
    align-items:center;
    justify-content:space-between;
    position:fixed;
    top:56px;
    left:0;
    right:0;
    background-color: #ffffff;
}

.Question {
    
}
